@model TraCuuThongTinMVC.ViewModels.SchoolDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="row">
    <div class="col-md-3">
        <h1>Details</h1>
    </div>
    <div class="col-md-9 ">
        <div class="text-end">
            <a asp-action="Index">Back to List</a>
            <hr />
        </div>
    </div>
</div>
<div class="row">
    <!-- Hình ảnh bên trái -->
    <div class="col-md-3">
        @if (Model.School.Image != null && Model.School.Image.Length > 0)
        {
            <img src="data:image/png;base64,@Convert.ToBase64String(Model.School.Image)" alt="Image" style="width: 300px; height: 300px; object-fit: cover; margin-right: 15px;" />
        }
        else
        {
            <p>Không có hình ảnh</p>
        }
    </div>

    <!-- Thông tin bên phải -->
    <div class="col-md-9">
        <dl class="row">
            <dt class="col-sm-3">Tên Trường</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.School.ScNm)</dd>

            <dt class="col-sm-3">Khu Vực</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.School.ScArea)</dd>

            <dt class="col-sm-3">Địa chỉ chính</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.School.ScAddress)</dd>

            <dt class="col-sm-3">Địa chỉ cơ sở</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.School.ScAddress1)</dd>

            <dt class="col-sm-3">Loại Trường</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.School.ScTcd)</dd>

            <dt class="col-sm-3">TEL</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.School.Tel)</dd>

            <dt class="col-sm-3">FAX</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.School.Fax)</dd>

            <dt class="col-sm-3">Mail</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.School.Mail)</dd>

            <dt class="col-sm-3">Website</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.School.Website)</dd>

            <dt class="col-sm-3">Hiệu Trưởng</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.School.HiuTruong)</dd>

            <dt class="col-sm-3">Hiệu Phó</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.School.HiuPho)</dd>

            <dt class="col-sm-3">Đại diện pháp luật</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.School.NguoiChiuTrachNhiemPhapLuat)</dd>
        </dl>
    </div>
</div>

<h2>Danh sách ngành nghề</h2>
<table class="table">
    <thead>
        <tr>
            <th>Tên ngành</th>
            <th>Mô tả</th>
            <th>Giảng Viên</th>
            <th>View</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var profession in Model.Professions)
        {
            <tr>
                <td>@profession.Nm</td>
                <td>@profession.MoTa</td>
                <td>@profession.GvCn</td>
                <td>@profession.Count</td>
                <td>
                    <a asp-action="Edit" asp-controller="ProfessionDbs"  asp-route-id="@profession.Cd" class="btn btn-primary">Sửa</a>

                    <a asp-action="Delete" asp-controller="ProfessionDbs"  asp-route-id="@profession.Cd" class="btn btn-danger btn-sm">Xóa</a>
                    <a asp-action="Details" asp-controller="ProfessionDbs" asp-route-id="@profession.Cd" class="btn btn-danger btn-sm">Deatil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Create" asp-controller="ProfessionDbs" asp-route-scId="@Model.School.ScId" class="btn btn-success btn-sm">Thêm ngành nghề</a>
</div>


