@model TraCuuThongTinMVC.Data.ProfessionDb

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProfessionDb</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GvCn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GvCn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Cd">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
